streamlit
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-text-splitters
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
python-dotenv
tiktoken
pytesseract
pdf2image
Pillow
